body {
    margin: 0;
    background-color: rgb(50, 50, 50);
    font-family: "Ubuntu", sans-serif;
    font-size: small;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 2em;
}
p {
    color: rgb(200, 200, 200);
    font-size: 1em;
}
header {
    background-color: #1b1b1b;
    height: 40px;
    color: white;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #656565;
    overflow: hidden;
}
main {
    padding-top: 10px;
    padding-left: 20px;
    flex: 1;
}
footer {
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
.logo{
    transition: transform 0.3s ease-out;
}
.logo:hover {
    transform: scale(1.1);
}
.aboutpage {
    padding-top: 10px;
    text-align: center;
}
.aboutpage p {
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
}
.aboutpage h1 {
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
}
.aboutpage img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
button {
    background-color: #8e4caf; 
    font-size: large;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
    background-color: #7a3f9c; 
    transform: scale(1.1);
}
.sword {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}
.enchants {
    padding-top: 10px;
    text-align: center;
}
.enchants p {
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
}
.enchants h1 {  
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
}
.enchants img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    transition: transform 0.15s ease-in-out;
}
.enchants img:hover{
    transform: scale(1.1);
}
.enchants_item {
    display: block;
    flex-direction: column;
    align-items: center;
    margin-top: px;
}
details {
    background-color: #222222;
    padding: 10px;
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    font-size: 24px;
    transition: transform 0.3s ease;
}
.content {
    font-size: 16px;
}
details .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

details[open] .content {
  max-height: 500px; 
}
details:hover {
    transform: scale(1.05);
    background-color: #2b2b2b;
    border: white 1px solid;
}
details summary {
    cursor: pointer;
    font-weight: bold;
    color: #c785e9;
    margin-bottom: 10px;


}